<div>
    <div class="inputField">
        <div style="display: flex; flex-direction: row">
            <div style="width: 50px">
                <img src="assets/img/logo.jpg" style="width:50px; height: 33px"/>
            </div>
            <div class="inputSearch">
                <img src="assets/img/search.svg" style="width: 18px; height: 18px; margin-top: 8px;
                margin-left: 6px;"/>
                <input type="text" placeholder="Kormangala, Bangalore"/>
            </div>
        </div>
        <div class="options">
            <div><a [routerLink]="['about']" routerLinkActive="activeAnchor">About</a></div>
            <div style="margin: 0px 40px 0px 40px;"><a [routerLink]="['downloadApp']" routerLinkActive="activeAnchor">Download App</a></div>
            <div style="margin-right: 10px"><img src="assets/img/notification.png"/></div>
            <div><img src="assets/img/Oval.png" style="width:20px; height: 20px"/></div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>